<div class="row">
    <div class="col-md-2 col-sm-12 menu-vertical pt-5 position-fixed    ">
        <div class="menu-vertical-item m-2 border border-primary font-weight-bold nav-link">
            <a href="#" [routerLink]="['/admin/promos']" routerLinkActive="router-link-active"  > Promos </a>
        </div>
        <div class="menu-vertical-item m-2 border border-primary font-weight-bold nav-link">
            <a href="#" [routerLink]="['/admin/referentiels']" routerLinkActive="router-link-active" > Referentiels </a>
        </div>
        <div class="menu-vertical-item m-2 border border-primary font-weight-bold nav-link">
            <a href="#" [routerLink]="['/admin/groupecompetences']" routerLinkActive="router-link-active"  > Groupe de Competences </a>
        </div>
        <div class="active menu-vertical-item m-2 border border-primary font-weight-bold nav-link bg-primary">
            <a class="text-light" href="#" [routerLink]="['/admin/competences']" routerLinkActive="router-link-active"  > Competences </a>
        </div>
        <div class="menu-vertical-item m-2 border border-primary font-weight-bold nav-link">
            <a href="#" [routerLink]="['/admin/groupetags']" routerLinkActive="router-link-active" > Groupe de Tags </a>
        </div>
        <div class="menu-vertical-item m-2 border border-primary font-weight-bold nav-link">
            <a href="#" [routerLink]="['/admin/profilsortie']" routerLinkActive="router-link-active" > Profil de Sortie </a>
        </div>
    </div>
</div>