<div class="row">
    <div class="col-6">
        <label for="langue"> Choix Langue</label>
        <select name="langue" id="langue">
            <option value="fr"> Français </option>
            <option value="us">Anglais</option>
        </select>

        <br>
        <br>
        <label for="titre"> Titre</label>
        <input class="ml-3" class="form-control" type="text" name="titre" id="titre">

        <br>
        <label for="description"> Description de la promotion </label>
        <textarea name="" id="" cols="30" rows="4"></textarea>

        <br>
        <label for="lieu">Lieu de la promotion: </label>
        <input type="text" name="lieu" id="lieu">

        <br>

    </div>
    <div class="col-6">
        <label for="reflabel">Reference Agate </label>
        <input type="text" name="reflabel" id="reflabel">

        <br>
        <br>
        <label for="fabrique">Choix de la Fabrique</label>
        <select name="fabrique" id="fabrique">
            <option value="odc">Orange Digital Center | Dakar </option>
            <option value="odct">Orange Digital Center | Thies </option>
            <option value="odcz">Orange Digital Center | Ziguinchor </option>
        </select>

        <label class="control-label" for="date">Date de debut</label>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
        <!-- DATE DE FIN -->
        <label class="control-label" for="date">Date de Fin </label>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
    </div>

    <div class="col-12">
        <br>
        <br>
        References

        <div class="row">
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            <div class="col-2 p-1 mb-2"><button type="button" class="btn btn-outline-primary">Developpement Web et Mobile</button></div>
            
        </div>
    </div>

</div>