<div class="row">
    <div class="col-9">

    <!-- Titre du tableau -->
    <div class="row">
        <div class="col-md-11">
            <h2 class="text-center pt-5"> Liste des Utilisateurs</h2>
        </div>
        <div class="col-md-1"><i class="fa fa-user" aria-hidden="true"></i></div>
    </div>
    <div class="row">
        <table class="table table-bordered table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>cbag</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>cbag</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>cbag</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>cbag</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>cbag</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>cbag</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

    <div class="col-3">

        <h3>Ajouter User</h3>
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom" class="form-control">
        <label for="nom">Nom</label>
        <input type="text" name="nom" class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control">
        <label for="email"> Email </label>
        <input type="email" name="email" class="form-control">
        <label for="profil"> Profil </label>
        <select name="profil" id="profil" class="form-control">
            <option value=""> CM </option>
            <option value=""> Administration </option>
            <option value=""> Formateur </option>
            <option value=""> Apprenant </option>
            <option value=""> Admin </option>
        </select>
        <br>
        <button class="bg-primary form-control text-light font-weight-bold" type="submit">Ajouter</button>

    </div>
</div>