<div class="row">
    <div class="col">
        <label for="libelle"> Libelle</label>
        <input type="text" class="form-control">
        <br>
        <label for="tags"> Tags</label>
        <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
        <br>

        <button class="form-control bg-primary text-light font-weight-bold" type="submit"> Soumettre </button>
    </div>

    <div class="col">
            <h5 class="text-center">Groupe de Tags</h5>
        <br>
        <button type="button" class="btn btn-primary m-2"> Developpement Mobile </button>
        <button type="button" class="btn btn-secondary m-2"> Systemes et Réseaux </button>
        <button type="button" class="btn btn-secondary m-2"> Objets Connectés </button>
        <button type="button" class="btn btn-secondary m-2"> Sécurité SI </button>
        <button type="button" class="btn btn-secondary m-2"> Data Science et Machine Learning  </button>

        <br>    
        <br>
        <h5 class="text-center" >Tags</h5>
        <br>
        <div class="affiche_gtag">
            <span class="border border-dark rounded p-1 ml-5" >HTML 5 <i class="fa fa-times" aria-hidden="true"></i> </span>
            <span class="border border-dark rounded p-1 ml-5" >Node Js <i class="fa fa-times" aria-hidden="true"></i> </span>
            <span class="border border-dark rounded p-1 ml-5" >Flutter <i class="fa fa-times" aria-hidden="true"></i> </span>
            <span class="border border-dark rounded p-1 ml-5" >Ionic <i class="fa fa-times" aria-hidden="true"></i> </span>
       
        </div>

    </div>


</div>