<div class="row">
    <div class="col-4">
        <label for="libelle">Libelle</label>
        <input class="form-control" type="text" name="" id="">

        <label for="libelle">Description</label> <br>
        <textarea class="form-control" name="" id="" cols="30" rows="3"></textarea>
        <br>
        <label for="competences"> Competences</label><br>
        <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
        <br>
        <button class="form-control bg-primary"> Soumettre</button>


    </div>
</div>
<br>
<h3 class="text-center">Groupe de Competences</h3>
<div class="row">

    <div class="col">
        <div class="card ">
            <div class="card-header bg-secondary row text-light">
                <div class="col-9">Libellé de Groupe de Competences</div>
                <div class="col-2"> <i class="fa fa-times" aria-hidden="true"></i> </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary text-light">
                Libellé de Groupe de Competences
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary text-light">
                Libellé de Groupe de Competences
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary text-light">
                Libellé de Groupe de Competences
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>

</div>