<div class="row">
    <div class="col-6">
        <label for="libelle">Libelle</label>
        <input class="form-control" type="text" name="" id="">

        <label for="libelle">Presentation</label> <br>
        <textarea class="form-control" name="" id="" cols="30" rows="3"></textarea>
        <br>
        <label for="competences"> Competences</label><br>
        <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
        <br>

    </div>
    <div class="col-6">
        <label for="upload"> Programme : </label>
        <input type="file" name="upload" id="upload">
        <br>
        <label for="critere">Critere d'Evaluation: </label>
        <div class="border border-primary p-2 pb-5 bg-light">
            <!-- Chips with text and action-->
            <span class="badge badge-secondary p-3 m-2">
                Un profil comprend la realisation d'au moins 9 pages tout au long de la formation
                <span aria-hidden="true">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                
            </span>
            <span class="badge badge-secondary p-3">
                Une soutenance devant un jury de professionnels
                <span aria-hidden="true">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                
            </span>
        </div>
        <br>
        <label for="critere">Critere d'Admission : </label>
        <div class="border border-primary p-2 pb-5 bg-light">
            <!-- Chips with text and action-->
            <span class="badge badge-secondary p-3 m-2">
                Un profil comprend la realisation d'au moins 9 pages tout au long de la formation
                <span aria-hidden="true">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                
            </span>
            <span class="badge badge-secondary p-3">
                Une soutenance devant un jury de professionnels
                <span aria-hidden="true">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
                
            </span>
        </div>

    </div>
    <div class="col-3"><button class=" text-light font-weight-bold form-control bg-primary"> Soumettre</button></div>
</div>
<br>
<h3 class="text-center">Groupe de Referentiels </h3>
<div class="row">

    <div class="col">
        <div class="card ">
            <div class="card-header bg-secondary row text-light">
                <div class="col-9">Libellé de Groupe de Competences</div>
                <div class="col-2"> <i class="fa fa-times" aria-hidden="true"></i> </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary text-light">
                Libellé de Groupe de Competences
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary text-light">
                Libellé de Groupe de Competences
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header bg-secondary text-light">
                Libellé de Groupe de Competences
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                    culpa dignissimos dolore consectetur iure cum, in modi tenetur non ... </li>
                <li class="list-group-item"> Competences </li>
                <li class="list-group-item"> Tags </li>
            </ul>
        </div>
    </div>

</div>