<div class="row">
    <!-- Titre du tableau -->
    <div class="col-9">
        <div class="row">
            <div class="col-md-11">
                <h2 class="text-center pt-5"> Liste des Compétences </h2>
            </div>
            <div class="col-md-1"><i class="fa fa-user" aria-hidden="true"></i></div>
        </div>
        <div class="row">
            <div class="col-md-5 border border-primary pt-2">

                <ul class="" *ngFor="let competence of competences; let i=index">
                    <li class="nav-link"><button class="border-0" (click)="afficherniveau(i)"> {{ competence.libelle }}
                        </button></li>
                </ul>

            </div>
            <div class="col-md-7 border border-primary pt-2" *ngIf="watchniveau">
                <nav>
                    <div class="nav nav-tabs  nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#niveau0"
                            role="tab" aria-controls="nav-home" aria-selected="true"
                            (click)="niveaucliquer()">Niveau1</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#niveau1" role="tab"
                            aria-controls="nav-profile" aria-selected="false" (click)="niveaucliquer()">Niveau2</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#niveau2" role="tab"
                            aria-controls="nav-contact" aria-selected="false" (click)="niveaucliquer()">Niveau3</a>
                    </div>
                </nav>
                <br>
                <div class="tab-content" id="nav-tabContent">
                    <div *ngFor="let niveau of niveaux; let i=index" id="{{'niveau'+i}}" class="tab-pane fade in active"
                        role="tabpanel">

                        <div class="row" *ngIf="clickniveau">
                            <div class="col-6 ">
                                <div class="card">
                                    <div class="card-header">
                                        Groupe d'actions à realiser
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"> {{ niveau.description }} </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header ">
                                        Criteres D'évaluation
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            {{ niveau.critereEvaluation }}
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tab-content">



                </div>

            </div>

        </div>
        <br>

    </div>
    <div class="col-3">

        <h4>Ajouter Competences</h4>
        <br>

        <form action="" [formGroup]="addCompetencesForm" (ngSubmit)="addProcess()">
            <label for="libelle">Libelle</label>
            <input type="text" name="libelle" [formControlName]="'libelle'" class="form-control">
            <br>
            <label for="description">Description</label>
            <input type="text" name="description" [formControlName]="'description'" class="form-control">
            <br>




            <nav>
                <div class="nav nav-tabs " id="nav-tab" role="tablist" >
                    <a (click)="addNiveaux();" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#addniveau0"
                        role="tab"  aria-selected="true">Niveau1</a>
                    <a (click)="addNiveaux();" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#addniveau1" role="tab"
                        aria-selected="false">Niveau2</a>
                    <a (click)="addNiveaux();" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#addniveau2" role="tab"
                         aria-selected="false">Niveau3</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent" >
                <div class="tab-pane fade show" role="tabpanel" aria-labelledby="nav-home-tab" formArrayName="niveaux"
                    *ngFor="let niveau of addCompetencesForm.controls.niveaux?.value; let i = index" id="{{'addniveau'+i }}">

                    <div [formGroupName]="i">
                        {{ i }}
                        <label for="" class="form-label">Action</label>
                        <input type="text" formControlName="description" class="form-control"/>
                        <label for="">Critere Evaluation</label>
                        <input type="text" formControlName="critereEvaluation" class="form-control"/>
                    </div>

                </div>
                <!-- <div class="tab-pane fade show active" id="addniveau0" role="tabpanel" aria-labelledby="nav-home-tab">
                    <label for="compaction">Groupe d'actions à realiser </label>
                    <textarea class="form-control" id="compaction" rows="" [formControlName]="'niv1grp'"></textarea>
                    <label for="compcritere"> Criteres d'evaluation </label>
                    <textarea class="form-control" id="compcritere" rows=""
                        [formControlName]="'niv1critere'"></textarea>.
                </div>
                <div class="tab-pane fade" id="addniveau1" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <label for="compaction">Groupe d'actions à realiser </label>
                    <textarea class="form-control" id="compaction" rows="" [formControlName]="'niv2grp'"></textarea>
                    <label for="compcritere"> Criteres d'evaluation </label>
                    <textarea class="form-control" id="compcritere" rows=""
                        [formControlName]="'niv2critere'"></textarea>
                </div>
                <div class="tab-pane fade" id="addniveau2" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <label for="compaction">Groupe d'actions à realiser </label>
                    <textarea class="form-control" id="compaction" rows="" [formControlName]="'niv3grp'"></textarea>
                    <label for="compcritere"> Criteres d'evaluation </label>
                    <textarea class="form-control" id="compcritere" rows=""
                        [formControlName]="'niv3critere'"></textarea>
                </div> -->
            </div>
            <!-- <button id="add" type="button" (click)="addNiveaux();">+++ Niveau</button> -->
            <br>
            <button class="bg-primary form-control text-light font-weight-bold" type="submit">
                Ajouter Competences
            </button>
        </form>

        <!-- 
        <form action="" [formGroup]="addCompetencesForm" (ngSubmit)="addProcess()">

            <label for="libelle">Libelle</label>
            <input type="text" name="libelle" class="form-control" id="libelle">
            <br>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#addniveau0"
                        role="tab" aria-controls="nav-home" aria-selected="true">Niveau1</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#addniveau1" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Niveau2</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#addniveau2" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Niveau3</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="addniveau0" role="tabpanel" aria-labelledby="nav-home-tab">
                    <label for="compaction">Groupe d'actions à realiser </label>
                    <textarea class="form-control" id="compaction" rows="" [formControl]="niv1grp"></textarea>
                    <label for="compcritere"> Criteres d'evaluation </label>
                    <textarea class="form-control" id="compcritere" rows="" [formControl]="niv1critere"></textarea>.
                </div>
                <div class="tab-pane fade" id="addniveau1" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <label for="compaction">Groupe d'actions à realiser </label>
                    <textarea class="form-control" id="compaction" rows="" [formControl]="niv2grp"></textarea>
                    <label for="compcritere"> Criteres d'evaluation </label>
                    <textarea class="form-control" id="compcritere" rows="" [formControl]="niv2critere"></textarea>
                </div>
                <div class="tab-pane fade" id="addniveau2" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <label for="compaction">Groupe d'actions à realiser </label>
                    <textarea class="form-control" id="compaction" rows="" [formControl]="niv3grp"></textarea>
                    <label for="compcritere"> Criteres d'evaluation </label>
                    <textarea class="form-control" id="compcritere" rows="" [formControl]="niv3critere"></textarea>
                </div>
            </div>

            <br>
            <button class="bg-primary form-control text-light font-weight-bold" type="submit"> Soumettre </button>
        </form> -->
    </div>

</div>