<div class="row">
    <!-- Titre du tableau -->
    <div class="col-9">
        <div class="row">
            <div class="col-md-11">
                <h2 class="text-center pt-5"> Liste des Compétences </h2>
            </div>
            <div class="col-md-1"><i class="fa fa-user" aria-hidden="true"></i></div>
        </div>
        <div class="row">
            <div class="col-md-5 border border-primary pt-2">
                <div class="row">
                    <select name="listCompetences" id="" class="form-control">
                        <option value="">Développer le front d'une application </option>
                        <option value="">Développer le back d'une application </option>
                        <option value="">Développer le front d'une application </option>
                        <option value="">Développer le back d'une application </option>
                    </select>
                </div>
                <div class="row ">
                    <ul class="list-unstyled">
                        <li> Maquetter une application</li>
                        <li>Developper une interface Web Dynamique</li>
                        <li>Réaliser une interface avec un CMS</li>
                        <li>Réaliser une interface web responsive</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-7 border border-primary pt-2">
                <ul class="nav nav-pills ">
                    <li class="active p-3"><a data-toggle="tab" href="#niveau1">Niveau 1</a></li>
                    <li class="p-3"><a data-toggle="tab" href="#niveau2">Niveau 2</a></li>
                    <li class="p-3"><a data-toggle="tab" href="#niveau2">Niveau 3</a></li>
                </ul>

                <div class="tab-content">
                    <div id="niveau1" class="tab-pane fade in active">

                        <div class="row">
                            <div class="col-6 ">
                                <div class="card">
                                    <div class="card-header">
                                        Groupe d'actions
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lorem ipsum dolor sit amet
                                            test test test test tempore cumque reprehenderit impedit vero.</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header ">
                                        Groupe d'actions
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lorem ipsum dolor sit amet
                                            test test test test tempore cumque reprehenderit impedit vero.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="niveau2" class="tab-pane fade">
                        <div class="row">
                            <div class="col-6 ">
                                <div class="card">
                                    <div class="card-header">
                                        Groupe d'actions
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lorem ipsum dolor sit amet
                                            test test test test tempore cumque reprehenderit impedit vero.</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header ">
                                        Groupe d'actions
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lorem ipsum dolor sit amet
                                            test test test test tempore cumque reprehenderit impedit vero.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="niveau3" class="tab-pane fade">
                        <div class="row">
                            <div class="col-6 ">
                                <div class="card">
                                    <div class="card-header">
                                        Groupe d'actions
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lorem ipsum dolor sit amet
                                            test test test test tempore cumque reprehenderit impedit vero.</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header ">
                                        Groupe d'actions
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lorem ipsum dolor sit amet
                                            test test test test tempore cumque reprehenderit impedit vero.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br>
            </div>
        </div>
    </div>
    <div class="col-3">

        <h4>Ajouter Competences</h4>
        <br>

        <label for="gcompt">Groupe de Competences</label>

        <select name="listCompetences" id="" class="form-control">
            <option value="">Développer le front d'une application </option>
            <option value="">Développer le back d'une application </option>
            <option value="">Développer le front d'une application </option>
            <option value="">Développer le back d'une application </option>
        </select>

        <label for="libelle">Libelle</label>
        <input type="text" name="libelle" class="form-control" id="libelle">
        <br>

        <span class="border border-primary bg-primary p-1 text-light">Niveau 1</span>
        <span class="border border-primary bg-secondary p-1">Niveau 2</span>
        <span class="border border-primary bg-secondary p-1">Niveau 3</span>
        <br>
        <br>
        <label for="gpaction">Groupe d'actions à realiser</label>
        <textarea class="form-control" id="egpaction" rows=""></textarea>

        <label for="gpaction"> Criteres d'evaluation </label>
        <textarea class="form-control" id="egpaction" rows=""></textarea>

        <br>
        <button class="bg-primary form-control text-light font-weight-bold" type="submit"> Soumettre </button>

    </div>

</div>