
    <!-- Titre du tableau -->
    <div class="row">
        <div class="col-md-11">
            <h2 class="text-center pt-5"> Liste des Utilisateurs</h2>
        </div>
        <div class="col-md-1"><i class="fa fa-user" aria-hidden="true"></i></div>
    </div>
    <div class="row">
        <table class="table table-bordered table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>

                


            </tbody>
        </table>
    </div>