<div class="row">
    <!-- Titre du tableau -->
    <div class="col-8">
        <div class="row">
            <div class="col-md-11">
                <h2 class="text-center pt-5"> Liste des Profils</h2>
            </div>
            <div class="col-md-1"><i class="fa fa-user" aria-hidden="true"></i></div>
        </div>
        <div class="row">
            <table class="table table-bordered table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Libelle</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Developpeur Front End</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Developpeur Back End</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Community Manager</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td> Data Analyste </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>


    <div class="col-2 text-center pt-5 ml-5">
        <h3>Ajouter Profil de Sortie</h3>
        <label for="libelle">Libelle</label>
        <input type="text" name="libelle" class="form-control">
        <br>
        <button class="bg-primary form-control text-light font-weight-bold" type="submit">Ajouter Profil</button>
    </div>

</div>